<div class="{{setClass}}">
    <div class="banner">
    </div>
    <div class="money">
           <div class="pure-g">
            <div class="balance pure-u-1-2">
                <div class="box">
                    <a class="icon" href="javascript:;"><sub>￥</sub>2,843</a>
                    <div class="txt">余额</div>
                </div>
            </div>
            <div class="donate pure-u-1-2">
                <div class="box">
                    <a class="icon" href="javascript:;">2,843</a>
                    <div class="txt">积分</div>
                </div>
            </div>
        </div>
    </div>
    <div class="package">
        <div class="pure-g">
            <div class="package-1 pure-u-1-2">
                <div class="box">
                    <ins><i class="fa fa-edit"></i></ins>
                    <div class="txt">推广订单</div>
                </div>
            </div>
            <div class="package-2 pure-u-1-2">
                <div class="box">
                    <ins><i class="fa fa-send-o"></i></ins>
                    <div class="txt">开始推广</div>
                </div>
            </div>
            <div class="package-3 pure-u-1-2">
                <div class="box">
                    <ins><i class="fa fa-users"></i></ins>
                    <div class="txt">我的团队</div>
                </div>
            </div>
            <div class="package-4 pure-u-1-2">
                <div class="box">
                    <ins><i class="fa fa-book"></i></ins>
                    <div class="txt">帮助中心</div>
                </div>
            </div>
        </div>
    </div>

</div>
