<div class="list-content">
   <ul class="product-list">
    <li class="product-item pure-g">
       <div class="product-img pure-u-1-3">
            <div class="img">
                <img src="../images/1.jpg">
            </div>
           <div class="price"><sub>￥</sub><em>59</em><span>/盒</span></div>
        </div>
        <div class="product-txt pure-u-2-3">
            <div class="product-name">iPhone 6s 64GB</div>
            <div class="person-name"><label>发起人：</label>彭琛岚</div>
            <div class="person-address"><label>提货地址：</label>恒城大厦50号</div>
            <div class="group-details"><label>目标：</label><em>50</em><span>人</span><label style="margin-left:0.5rem">参与：</label><em>49</em><span>人</span></div>
            <div class="product-details"><i class="fa fa-clock-o"></i> <em>01.30 18:30</em><i class="fa fa-map-marker"></i> <em>114 M</em></div>
        </div>
    </li>
    <li class="product-item pure-g">
       <div class="product-img pure-u-1-3">
            <div class="img">
                <img src="../images/1.jpg">
            </div>
           <div class="price"><sub>￥</sub><em>59</em><span>/盒</span></div>
        </div>
        <div class="product-txt pure-u-2-3">
            <div class="product-name">iPhone 6s 64GB</div>
            <div class="person-name"><label>发起人：</label>彭琛岚</div>
            <div class="person-address"><label>提货地址：</label>恒城大厦50号</div>
            <div class="group-details"><label>目标：</label><em>50</em><span>人</span><label style="margin-left:0.5rem">参与：</label><em>49</em><span>人</span></div>
            <div class="product-details"><i class="fa fa-clock-o"></i> <em>01.30 18:30</em><i class="fa fa-map-marker"></i> <em>114 M</em></div>
        </div>
    </li>
    <li class="product-item pure-g">
       <div class="product-img pure-u-1-3">
            <div class="img">
                <img src="../images/1.jpg">
            </div>
           <div class="price"><sub>￥</sub><em>59</em><span>/盒</span></div>
        </div>
        <div class="product-txt pure-u-2-3">
            <div class="product-name">iPhone 6s 64GB</div>
            <div class="person-name"><label>发起人：</label>彭琛岚</div>
            <div class="person-address"><label>提货地址：</label>恒城大厦50号</div>
            <div class="group-details"><label>目标：</label><em>50</em><span>人</span><label style="margin-left:0.5rem">参与：</label><em>49</em><span>人</span></div>
            <div class="product-details"><i class="fa fa-clock-o"></i> <em>01.30 18:30</em><i class="fa fa-map-marker"></i> <em>114 M</em></div>
        </div>
    </li>
    <li class="product-item pure-g">
       <div class="product-img pure-u-1-3">
            <div class="img">
                <img src="../images/1.jpg">
            </div>
           <div class="price"><sub>￥</sub><em>59</em><span>/盒</span></div>
        </div>
        <div class="product-txt pure-u-2-3">
            <div class="product-name">iPhone 6s 64GB</div>
            <div class="person-name"><label>发起人：</label>彭琛岚</div>
            <div class="person-address"><label>提货地址：</label>恒城大厦50号</div>
            <div class="group-details"><label>目标：</label><em>50</em><span>人</span><label style="margin-left:0.5rem">参与：</label><em>49</em><span>人</span></div>
            <div class="product-details"><i class="fa fa-clock-o"></i> <em>01.30 18:30</em><i class="fa fa-map-marker"></i> <em>114 M</em></div>
        </div>
    </li>
    <li class="product-item pure-g">
       <div class="product-img pure-u-1-3">
            <div class="img">
                <img src="../images/1.jpg">
            </div>
           <div class="price"><sub>￥</sub><em>59</em><span>/盒</span></div>
        </div>
        <div class="product-txt pure-u-2-3">
            <div class="product-name">iPhone 6s 64GB</div>
            <div class="person-name"><label>发起人：</label>彭琛岚</div>
            <div class="person-address"><label>提货地址：</label>恒城大厦50号</div>
            <div class="group-details"><label>目标：</label><em>50</em><span>人</span><label style="margin-left:0.5rem">参与：</label><em>49</em><span>人</span></div>
            <div class="product-details"><i class="fa fa-clock-o"></i> <em>01.30 18:30</em><i class="fa fa-map-marker"></i> <em>114 M</em></div>
        </div>
    </li>

</ul>
<div login-dialog ng-if="!isLoginPage"></div>
</div>
