@import "compass/css3";

.banner {
    overflow: hidden;
    background-image: url("../../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
}
.bottom-info {
    background: #fff;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    color: #333;
    text-align: center;
    margin-top: 0;
    line-height: 1.5rem;
    width: 100%;
    .no-nearby {
        @include opacity(0.5);
    }
}
.sign-panel {
    background: #fff;
    position: absolute;
    padding-bottom: 0;
    bottom: 4.5rem;
    width: 100%;
    button {
        margin-top: 3rem;
    }
}
