@import "compass/css3";

.list-content {
    overflow-y: auto;
    height: 500px;
}
.product-list {
    list-style: none;
    .product-item {
        border-bottom: 1px solid #eee;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: 1.2rem;
    }
    .product-txt {
        label {
            margin-bottom: 0;
        }
        .product-name {
            line-height: 3.4rem;
            font-size: 1.4rem;
            font-weight: bold;
        }
        .product-details {
            line-height: 3.4rem;
            font-size: 1.2rem;
            .fa {
                font-size: 1.2rem;
                line-height: 3.4rem;
            }
            em {margin-right: 1rem;}
        }
    }
    .product-img {
        text-align: center;
        vertical-align: middle;
        .img {
            @include inline-block;
            width: 80%;
            vertical-align: middle;
            @include box-sizing(border-box);
            overflow: hidden;
            img {
                display: block;
                width: 100%;
            }
        }
        .price {
            font-size: 1.6rem;
            color: #cf0000;
            margin-top: 0.7rem;
            sub {
                bottom: 0;
            }
        }
    }
}
