@import "compass/css3";

#topNav {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #fff;
    text-align: center;
    background: #50d2c2;
    color: #fff;
}
